.linkPage {
  text-transform: uppercase;
  font-weight: 500;
  color: #1c1c1c;
  font-size: 10px;
  transition: 0.4s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  width: 100%;
  position: absolute;
  z-index: 10;
  row-gap: 20px;
}
.svg {
  width: 20px;
}
.linkPage:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #f38120;
  transition: width 0.4s ease-in-out;
}
.linkPage:hover:after,
.linkPage:focus:after {
  width: 100%;
}
.linkPage:hover {
  color: #f38120;
}
