.workingHours {
  font-size: 0.7vw;
  margin-bottom: 0.4vw;
}
.number {
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
}
.callMeText {
  font-size: 0.7vw;
  letter-spacing: 0.05vw;
  color: #12c868;
  border-bottom: 0.15vw dotted #12c868;
}
