.workingHours {
  font-size: 8px;
  margin-bottom: 5px;
}
.number {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.callMeText {
  font-size: 9px;
  letter-spacing: 1px;
  color: #12c868;
  border-bottom: 3px dotted #12c868;
  cursor: pointer;
}
.callMeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50px);
}
