.linkPage {
  text-transform: uppercase;
  font-weight: 500;
  color: #1c1c1c;
  font-size: 0.8vw;
  letter-spacing: 0.03vw;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80.4vw;
  padding-top: 2vw;
  padding-bottom: 1.7vw;
}
.container {
  max-width: 83vw;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.svg {
  width: 1.2vw;
}

.linkPage:after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 2px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: #f38120; /*цвет фона элемента*/
  transition: 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.linkPage:hover:after,
.linkPage:focus:after {
  width: 100%;
}
.linkPage:hover {
  color: #f38120;
}
