.linkPage {
  text-transform: uppercase;
  font-weight: 500;
  color: #1c1c1c;
  font-size: 0.85vw;
}
.navigation {
  display: flex;
  justify-content: space-between;
  /* max-width: 79vw; */
}
.container {
  max-width: 83vw;
  margin: 0 auto;
}
.header {
}
.svg {
  width: 1.2vw;
}
