.header {
  position: relative;
}
.container {
  max-width: 83vw;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 100%;
}
.smallExtensionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.buttonOpenMenu {
  width: 20px;
  height: 15px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #1c1c1c;
}
@media (max-width: 992px) {
  .container {
    max-width: inherit;
    padding: 0 20px;
  }
  .header {
    height: 70px;
  }
}
