.form {
  width: 150px;
  -webkit-filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.03));
  filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.03));
}
.logo {
  width: 75px;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
}
.blockLogo {
  position: relative;
}
.block {
  position: absolute;
  left: 50%;
  top: -1.3vw;
  transform: translateX(-50%);
}
