.textMaterials {
  font-weight: 600;
}
.text {
  font-size: 0.6vw;
  letter-spacing: 0.04vw;
  text-align: center;
  line-height: 1vw;
}
.items {
  display: flex;
  justify-content: space-between;
}
.item .text:first-child {
  margin-bottom: 8px;
}
.items {
  padding-top: 1.5vw;
}
.circlePdf {
  color: #12c868;
  font-size: 0.6vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}
