.items {
  display: flex;
  justify-content: space-between;
}
.form {
  width: 20vw;
  -webkit-filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.03));
  filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.03));
}
/* box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.03); */
