.companyAdvantages {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1vw;
}
.item {
  font-size: 0.8vw;
  text-align: center;
}
.highlightedItems {
  font-weight: 600;
}
