.companyAdvantages {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1.1vw;
  row-gap: 1.6vw;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  width: 11vw;
  padding-bottom: 2vw;
  border-radius: 0 0 1vw 1vw;
  position: relative;
}
.companyAdvantages::before {
  content: "";
  display: block;
  width: 100%;
  height: 2vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%) skewY(5deg);
  transform-origin: right;
  background-color: white;
  border-radius: 1.1vw 1.1vw 0 0;
  z-index: -1;
}
.item {
  font-size: 0.8vw;
  text-align: center;
  padding-bottom: 1vw;
  box-shadow: 0px 19px 7px -7px rgba(0, 0, 0, 0.03);
}
.highlightedItems {
  font-weight: 600;
}
@media (max-width: 992px) {
  .companyAdvantages {
    line-height: 20px;
    row-gap: 1.6vw;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
    width: 50%;
    padding-bottom: 2vw;
    border-radius: 0 0 30px 30px;
  }
  .companyAdvantages::before {
    width: 100%;
    height: 50px;
    border-radius: 1.1vw 1.1vw 0 0;
  }
  .item {
    font-size: 14px;
    padding-bottom: 5px;
  }
}
