.answerText {
  font-size: 0.7vw;
  position: relative;
}
.answerText::before {
  content: "";
  width: 0.3vw;
  position: absolute;
  height: 0.3vw;
  background-color: #12c868;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  left: -0.35vw;
}
.icon {
  width: 2.3vw;
}
.socialMedia {
  display: flex;
  justify-content: space-between;
  width: 8vw;
}
