.answerText {
  font-size: 0.8vw;
  position: relative;
}
.answerText::before {
  content: "";
  width: 0.1vw;
  position: absolute;
  height: 0.1vw;
  background-color: #12c868;
  top: 50%;
  transform: translateY(-50%);
}
