.workingHours {
  font-size: 0.65vw;
  margin-bottom: 0.4vw;
}
.number {
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
  margin-bottom: 0.4vw;
}
.callMeText {
  font-size: 0.7vw;
  letter-spacing: 0.05vw;
  color: #12c868;
  border-bottom: 0.15vw dotted #12c868;
  cursor: pointer;
}
.callMeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .workingHours {
    font-size: 8px;
    margin-bottom: 5px;
  }
  .number {
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  .callMeText {
    font-size: 8px;
    letter-spacing: 1px;
    border-bottom: 3px dotted #12c868;
  }
  .callMeBlock {
    transform: translateX(-40px);
  }
}
@media (max-width: 350px) {
  .workingHours {
    font-size: 6.3px;
  }
}
