.mainTitle {
  font-weight: 300;
  font-size: 3vw;
  letter-spacing: -0.1vw;
  line-height: 4.3vw;
  margin-top: -1.5vw;
  margin-left: 4.3vw;
}
.highlightText {
  font-weight: 600;
}
.turnkeyInstallation {
  display: flex;
  align-items: center;
}
.circles {
  display: flex;
  column-gap: 0.3vw;
}
.circles__item {
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  border: 1px solid #12c868;
}
.turnkeyInstallation__text {
  font-size: 1.6vw;
}
.circles__item:nth-child(2) {
  opacity: 0.75;
}
.circles__item:nth-child(3) {
  opacity: 0.5;
}
.circles__item:nth-child(4) {
  opacity: 0.25;
}
