.centralBlock {
  margin-left: 4.5vw;
}
.mainTitle {
  font-weight: 300;
  font-size: 3vw;
  letter-spacing: -0.1vw;
  line-height: 4.3vw;
  margin-top: -1.5vw;
}
.highlightText {
  font-weight: 600;
}
.turnkeyInstallation {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.circles {
  display: flex;
  column-gap: 0.3vw;
  margin-right: 1vw;
}
.circles__item {
  width: 0.4vw;
  height: 0.4vw;
  border-radius: 50%;
  border: 2px solid #12c868;
}
.buttons {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.buttons__item {
  width: 19.5vw;
  border: 0;
  height: 5.1vw;
}
.buttonText {
  color: white;
}
.buttons__item:first-child {
  background-color: #12c868;
}
.buttons__item:last-child {
  background-color: #f38120;
}
.turnkeyInstallation__text {
  font-size: 1.68vw;
}
.circles__item:nth-child(2) {
  opacity: 0.75;
}
.circles__item:nth-child(3) {
  opacity: 0.5;
}
.circles__item:nth-child(4) {
  opacity: 0.25;
}
